body {
    background-color: lightgray;
}

   
.links {
    background-color: lime;
}

.cuerpo {
    background-color: yellow;
    display: inline-block;
}

img {
    display: none;
}

.info {
    background-color: grey;
    display: inline-block;
}


@media all and (min-width: 768px) {

    .container {
        display: flex;
    }

    .links {
        background-color: lime;
        width: 2000px;
        height: 150px;
        margin-right: 50px;
    }

    .todo {
        justify-content: right;
        
    }

    img {
        display: block;   
    }

    .cuerpo {
        background-color: yellow;
        display: inline-block;
    }

    .info {
        background-color: grey;
        display: inline-block;
    } 
}



@media all and (min-width: 1280px) {

    .container {
        display: flex;
    }

    .links {
        background-color: lime;
        height: 170px;
        width: 365px;
        padding-right: 125px;
        
    }

    .todo {
        display: flex;
            
    }

    .cuerpo {
        background-color: yellow;
        margin-left: 25px;
        margin-right: 25px;
        text-align: left;
        flex-direction: row;
                     
    }

    .texto {
        display: flex;
        
    }

    .imagen {
        
    }

    .info {
        background-color: grey;
        height: 350px;
    }
}

